main {
    margin-top: 60px;
  }

  #content {
    display: none;
  }

  form {
    width: 350px;
    margin-bottom: 10px;
  }

  ul {
    margin-bottom: 0px;
  }

  #completedTaskList .content {
    color: grey;
    text-decoration: line-through;
  }
  #footer {
  padding: 10% 5%;
  text-align: center;
}

.copy {
  margin: 10px 5px;
  color: gray;
}

.copy:hover {
  color: cornflowerblue;

}